<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library Catalog</title>
    <link href="..\..\Content\bootstrap.css" rel="stylesheet" type ="text/css">
  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
