@{
  Layout="Shared/_Layout.cshtml";
}

<h1>All Authors</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Books</th>
    </tr>
  </thead>
  <tbody>
    @{
      foreach(var author in Model)
      {
        <tr>
          <td><a href="/author/@author.GetId()">@author.GetLastName(), @author.GetFirstName()</a></td>
          <td>
            @foreach (var book in @author.GetBooks())
            {
              <p><a href="/book/@book.GetId()">@book.GetTitle()</a></p>
            }
          </td>
        </tr>
      }
    }
  </tbody>
</table>

<h3>Add a new author to the library</h3>
<form action="/add_author" method="post">
    <label for="author-first">Author first name: </label>
    <input type="text" name="author-first" id="author-first">
    <label for="author-last">Author last name: </label>
    <input type="text" name="author-last" id="author-last">
    <button type="submit" class="btn btn-success">Add</button>
</form>

<form action="/authors/delete" method="post">
    <button type="submit" name="button">Delete all authors</button>
</form>
