@{
    Layout="Shared/_Layout.cshtml";
}

<h2>@Model.GetFirstName() @Model.GetLastName()</h2>


<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Book Title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
          <td>
            @foreach(var book in @Model.GetBooks())
            {
              <p><a href="/book/@book.GetId()">@book.GetTitle()</a></p>
            }
          </td>
        </tr>
  </tbody>
</table>
