@{
  Layout="Shared/_Layout.cshtml";
}

<h1>All Authors</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Books</th>
    </tr>
  </thead>
  <tbody>
    @{
      foreach(var author in Model)
      {
        <tr>
          <td><a href="/author/@author.GetId()">@author.GetLastName(), @author.GetFirstName()</a></td>
          <td>
            @foreach (var book in @author.GetBooks())
            {
              <p><a href="/book/@book.GetId()">@book.GetTitle()</a></p>
            }
          </td>
        </tr>
      }
    }
  </tbody>
</table>
