@{
    Layout="Shared/_Layout.cshtml";
}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Epicodus Library</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/books">All Books</a></li>
      <li><a href="/patrons">All Patrons</a></li>
      <li><a href="/authors">All Authors</a></li>
    </ul>
  </div>
</nav>

<h1>Welcome to the Epicodus Library Catalog</h1>

<div class="row">
    <div class="col-md-12">
        <h3>Current checkouts</h3>

        <!-- Key is checkout, value is patron -->
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Patron Name</th>
              <th>Title</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
            @{
              foreach(var entry in Model)
              {
                <tr>
                <td>@entry.Value.GetLastName(), @entry.Value.GetFirstName()</td>
                <td>@entry.Key.GetBookTitle()</td>
                <td>@entry.Key.GetDueDate()</td>
                </tr>
              }
            }
          </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="/book/search_title" method="post">
                <label for="search-book-title">Search for books by title</label>
                <input type="text" name="search-book-title">
                <button type="submit" name="button">Search</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="/patron/search_name" method="post">
                <label for="search-patron-name">Search for patrons by last name</label>
                <input type="text" name="search-patron-name">
                <button type="submit" name="button">Search</button>
            </form>
        </div>
    </div>

</div>
